spring:
  application:
    name: doc-manager

  datasource:
    url: jdbc:postgresql://localhost:5432/doc_manager_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true